## Sorting list of delimited strings

Let us perform a task to sort employees based upon their salary using employees list.
* We will create employee list in the form of comma separated or delimited strings.
* Employee list will contain employee id, email and salary.

In [ ]:
employees = [
    '1,ktrett0@independent.co.uk,6998.95',
    '2,khaddock1@deviantart.com,10572.4',
    '3,ecraft2@dell.com,3967.35',
    '4,drussam3@t-online.de,17672.44',
    '5,graigatt4@github.io,11660.67',
    '6,bjaxon5@salon.com,18614.93',
    '7,araulston6@list-manage.com,11550.75',
    '8,mcobb7@mozilla.com,17016.15',
    '9,grobardley8@unesco.org,14141.25',
    '10,bbuye9@vkontakte.ru,12193.2'
]

In [ ]:
type(employees)

In [ ]:
employees[0]

* We need to sort the data by comparing salaries between employees.
* We can define custom comparison logic using `key` argument.
* Each element or record in the list is comma seperated.
* We need to extract the salary as float for right comparison.
* Here is how we can extract the salary.

In [ ]:
# Reading first element
employees[0]

In [ ]:
emp = employees[0]

In [ ]:
type(emp)

In [ ]:
emp

In [ ]:
# We can use split with ',' as delimiter.
# It will create a list of strings.
# The list contains 3 elements - id, email and salary
# All 3 will be of type string
emp.split(',')

In [ ]:
emp_list = emp.split(',')

In [ ]:
type(emp_list)

In [ ]:
emp_list

In [ ]:
for e in emp_list:
    print(f'Data type of {e} is {type(e)}')

In [ ]:
# Getting salary
emp_list[2]

In [ ]:
# We can also -1 to read from the last
emp_list[-1]

In [ ]:
# We need to change the data type to float or decimal for right comparison.
float(emp_list[-1])

In [ ]:
# Complete logic
float(emp.split(',')[-1])

In [ ]:
# We can pass the comparison logic to key function in sorted
# You can see the output. It is sorted in ascending order by salary.
sorted(employees, key=lambda emp: float(emp.split(',')[-1]))

In [ ]:
# You can reverse by using reverse keywork argument
# reverse will be applied on custom comparison passed as part of key
sorted(employees, key=lambda emp: float(emp.split(',')[-1]), reverse=True)

In [ ]:
employees.sort(key=lambda emp: float(emp.split(',')[-1]))

In [ ]:
employees

In [ ]:
employees.sort(key=lambda emp: float(emp.split(',')[-1]), reverse=True)

In [ ]:
employees

In [ ]:
employees = [
    '1,ktrett0@independent.co.uk,6998.95',
    '2,khaddock1@deviantart.com,10572.4',
    '3,ecraft2@dell.com,3967.35',
    '4,drussam3@t-online.de,17672.44',
    '5,graigatt4@github.io,11660.67',
    '6,bjaxon5@salon.com,18614.93',
    '7,araulston6@list-manage.com,11550.75',
    '8,mcobb7@mozilla.com,17016.15',
    '9,grobardley8@unesco.org,14141.25',
    '10,bbuye9@vkontakte.ru,12193.2'
]

In [ ]:
sorted(employees, key=lambda emp: emp.split(',')[-1], reverse=True)

In [ ]:
'6' > '18614'