## Exercise 2 - Create Table for Courses

Create table - **courses**
* **course_id** - sequence generated integer and primary key
* **course_name** - which holds alpha numeric or string values up to 60 characters
* **course_author** - which holds the name of the author up to 40 characters
* **course_status** - which holds one of these values (**published**, **draft**, **inactive**). It should also be defaulted to **draft**.
* **course_published_dt** - which holds date type value.

In [ ]:
%run 00_get_database_connection.ipynb

* Drop the table if already exists. Run below cells to drop it.

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db

In [ ]:
%%sql

DROP TABLE IF EXISTS courses

In [ ]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
LIMIT 10

* Develop the logic to create the table using Python.

In [ ]:
connection = get_pg_connection(
    host=postgres_host,
    port=postgres_port,
    database=f'{username}_sms_db',
    user=f'{username}_sms_user',
    password=password
)

In [ ]:
# The code to create the table should go here.
# Make sure the constraints, sequence, default values are honored as per the requirement

* Validate by running query here. The below query should return the table that is created.

In [ ]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
LIMIT 10

In [ ]:
%%sql 

SELECT * FROM information_schema.columns 
WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
LIMIT 10