## Delete Data from Courses

As part of this topic, you need to develop the required logic (Step 3 below) to delete the data from the table.
* Make sure courses table is created
* Validate all courses
* Setup data to be deleted
* Delete data from the table
* Validate data in the table

In [ ]:
%run 00_get_database_connection.ipynb

### Step 1: Make sure courses table is created

You need to ensure courses table is created before going further and load data into the table.

In [ ]:
connection = get_pg_connection(
    host=postgres_host,
    port=postgres_port,
    database=f'{username}_sms_db',
    user=f'{username}_sms_user',
    password=password
)

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor.execute(f"""
    SELECT * FROM information_schema.tables 
    WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
    LIMIT 10
""")

In [ ]:
for row in cursor:
    print(row)

### Step 2: Validate all courses

Let us make sure courses table have all the data.

In [ ]:
cursor.execute(f"""
    SELECT * FROM courses
""")

In [ ]:
courses = [course for course in cursor]

In [ ]:
len(courses) # should return 12

In [ ]:
courses # Review the data to make sure that all the records are as expected

### Step 3: Setup Data to be deleted

Let us setup the courses to be deleted. We will create a list which contain courses to be deleted.

In [ ]:
courses_to_be_deleted = ['Web Applications - Scala Play', 'Server Automation - Ansible']

### Step 4: Delete data from the table

Here you need to develop the logic which will insert the data into the table. Make sure to close connection after loading the data.

In [ ]:
# Your logic should go here

### Step 5: Validate Data

Make sure the output only contain 10 records.

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db

In [ ]:
%%sql

SELECT * FROM courses

* This query should not return any thing

In [ ]:
%%sql

SELECT * FROM courses
WHERE course_name IN ('Web Applications - Scala Play', 'Server Automation - Ansible')