## Exercise 3 - Insert Courses into Table

Insert data into courses using the data provided. Make sure id is system generated. Use the table that is created as part of the previous exercise.

|Course Name                      |Course Author         |Course Status|Course Published Date|
|---------------------------------|----------------------|-------------|---------------------|
|Programming using Python         |Bob Dillon            |published    |2020-09-30           |
|Data Engineering using Python    |Bob Dillon            |published    |2020-07-15           |
|Data Engineering using Scala     |Elvis Presley         |draft        |                     |
|Programming using Scala          |Elvis Presley         |published    |2020-05-12           |
|Programming using Java           |Mike Jack             |inactive     |2020-08-10           |
|Web Applications - Python Flask  |Bob Dillon            |inactive     |2020-07-20           |
|Web Applications - Java Spring   |Mike Jack             |draft        |                     |
|Pipeline Orchestration - Python  |Bob Dillon            |draft        |                     |
|Streaming Pipelines - Python     |Bob Dillon            |published    |2020-10-05           |
|Web Applications - Scala Play    |Elvis Presley         |inactive     |2020-09-30           |
|Web Applications - Python Django |Bob Dillon            |published    |2020-06-23           |
|Server Automation - Ansible      |Uncle Sam             |published    |2020-07-05           |

In [ ]:
%run 00_setup_database_variables.ipynb

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db

In [ ]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
LIMIT 10

* Provide the insert statement(s) as answer for this exercise.

In [ ]:
%%sql

* Validate by running query here

In [ ]:
%%sql

SELECT count(1) FROM courses

In [ ]:
%%sql

SELECT * FROM courses LIMIT 12