## Get High Dense Departments

Let us get the list of high dense departments with employees more than 10. High dense departments means, departments with number of employees greater than 10.
* You can review the table structures of employees and departments by going to **06_task_setup_hr_db.ipynb**.
* If you cannot find one, please reach out to support staff.
* After validating connectivity and data in the tables, come up with a query which will get us the departments with employee count greater than 10. We also would like to see the count.
* Output should contain department_name and count. You need to figure out the field on which join should be performed.

In [ ]:
%run 00_setup_database_variables.ipynb

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://{username}_hr_user:{password}@{postgres_host}:{postgres_port}/{username}_hr_db

In [ ]:
%%sql

SELECT * FROM departments LIMIT 10

In [ ]:
%%sql

SELECT * FROM employees LIMIT 10

* Provide the query to get the employee count by department below for only those departments where employee count is greater than 10. Make sure data is sorted in descending order by department_count. Also the column names as part of the output should be **department_name** and **employee_count**.
* Here is the expected output.

|department_name|department_count|
|---|---|
|Shipping|45|
|Sales|34|

In [ ]:
%%sql