## Get Highly Paid Employees

Let us get the highly paid employee of each department.
* You can review the table structures of employees and departments by going to **06_task_setup_hr_db.ipynb**.
* If you cannot find one, please reach out to support staff.
* After validating connectivity and data in the tables, come up with a query which will get us highly paid employee with in each department.
* Output should contain department_name, employee_id, first_name, last_name and salary. You need to figure out the field on which join should be performed.
* Also if there are more than one employees with highest paid salary with in each department, you need to get all those employee details.

In [ ]:
%run 00_setup_database_variables.ipynb

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://{username}_hr_user:{password}@{postgres_host}:{postgres_port}/{username}_hr_db

In [ ]:
%%sql

SELECT * FROM departments LIMIT 10

In [ ]:
%%sql

SELECT * FROM employees LIMIT 10

* Provide the query to get the highest paid employee details from each department. Make sure data is sorted in ascending order by department_name and then in ascending order by employee_id.
* Here is the expected output.

|department_name|employee_id|first_name|last_name|salary|
|---|---|---|---|---|
|Accounting|205|Shelley|Higgins|12000.00|
|Administration|200|Jennifer|Whalen|4400.00|
|Executive|100|Steven|King|24000.00|
|Finance|108|Nancy|Greenberg|12000.00|
|Human Resources|203|Susan|Mavris|6500.00|
|IT|103|Alexander|Hunold|9000.00|
|Marketing|201|Michael|Hartstein|13000.00|
|Public Relations|204|Hermann|Baer|10000.00|
|Purchasing|114|Den|Raphaely|11000.00|
|Sales|145|John|Russell|14000.00|
|Shipping|121|Adam|Fripp|8200.00|
|None|178|Kimberely|Grant|7000.00|

In [ ]:
%%sql